<!DOCTYPE html>

{% load static %}
{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
  </head>

    <body class="main">
      <div class="wrapper">
        <header class="header">
          <div class="top-bar">

          </div>
        </header>

          {% block content %}
          {% endblock %}

        <aside class="aside aside-1">
          aside-1
        </aside>

        <aside class="aside aside-2">
          aside-2
        </aside>

        <footer class="footer">
          Footer
        </footer>
      </div>
    </body>
</html>




